<head>
    <title>Urbanist Test</title>
</head>

<body>
    <div class="container">
        <h3>
            <button class="btn btn-primary btn-add-event">
                <a href="/"><span class="glyphicon glyphicon-home"></span></a>
            </button>
            Event Manager
        </h3>
    </div>
</body>