.hidden{
    display: none;
}

a{
    text-decoration: none;
    color: inherit;
}

.user-img-l{
    width: 128px;
    height: 128px;
    margin: 0 auto;
    display: block;
}

.user-img-s{
    width: 32px;
    height: 32px;
    margin: 0 5px 0 -5px;
    border-radius: 50%;
    vertical-align: middle;
}