<template name="view_edit_event">

    <div class="container">
        <h4>
            {{#if name}} 
                {{name}}
            {{ else }}
                New Event:
            {{/if}}
        </h4>
        <div class="input-group">
            <span class="input-group-addon " id="name">
                <span class="glyphicon glyphicon-console"></span>
            </span>
            <input type="text" class="form-control" placeholder="Event Name" value="{{name}}">
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon" id="addr">
                <span class="glyphicon glyphicon-map-marker"></span>
            </span>
            <input type="text" class="form-control" placeholder="Event Address" value="{{addr}}">
        </div>
        <br>
        
        <div class="input-group">
            <span class="input-group-addon" id="time">
                <span class="glyphicon glyphicon-time"></span>
            </span>
            <input type="time" class="form-control" placeholder="" value="{{time}}">
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon" id="date">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
            <input type="date" class="form-control" placeholder="" value="{{date}}">
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon" id="desc">
                <span class="glyphicon glyphicon-comment"></span>
            </span>
            <input type="text" class="form-control" placeholder="Event Description" value="{{desc}}">
        </div>
        <br>
        <div class="btn-group" role="group">
            {{#if name}} 
                <button class="btn btn-success btn-update-event">
                    <span class="glyphicon glyphicon-ok"></span>
                    Save
                </button>
                <button class="btn btn-danger btn-remove-event">
                    <span class="glyphicon glyphicon-minus"></span>
                    Remove
                </button>
            {{ else }}
                <button class="btn btn-success btn-add-event">
                    <span class="glyphicon glyphicon-plus"></span>
                    Add
                </button>
                
            {{/if}}
            <button class="btn btn-default btn-return-home">
                <span class="glyphicon glyphicon-remove"></span>
                {{#if _id}}
                    <a href="/event/{{_id}}">Cancel</a>
                {{else}}
                    <a href="/">Cancel</a>
                {{/if}}
            </button>
        </div>
    </div>
</template>