<template name="view_event">
<div class="container">
    {{#each ev}}
        <span class="hidden evId">{{_id}}</span>
        <h3>
            <span class="glyphicon glyphicon-console"></span>
            {{name}}
        </h3>
        <h5>
            <span class="glyphicon glyphicon-map-marker"></span>
            {{addr}}
        </h5>
        <h5>
            <span class="glyphicon glyphicon-time"></span>
            {{time}}
        </h5>
        <h5>
            <span class="glyphicon glyphicon-calendar"></span>
            {{date}}
        </h5>
        <p>
            <span class="glyphicon glyphicon-comment"></span>
            {{desc}}
        </p>
        <button class="btn btn-primary edit_event"><a href="/edit_event/{{_id}}">Edit Event</a></button>
        <br>
    {{/each}}

    <h3>Guest List</h3>
    <button class="btn btn-primary edit_event">
        {{#each ev}}
            <a href="/add_guest/{{_id}}">Add a guest</a>
        {{/each}}
    </button>
    <h4>Attending</h4>
    <ul class="list-group">
        {{ #each guestList }}
            {{#if attending}}
                {{> guest }}
            {{/if}}
        {{ /each }}
    </ul>

    <h4>Maybe</h4>
    <ul class="list-group">
        {{ #each guestList }}
            {{#if maybe}}
                {{> guest }}
            {{/if}}
        {{ /each }}
    </ul>

    <h4>Not Attending</h4>
    <ul class="list-group">
        {{ #each guestList }}
            {{#if willNot}}
                {{> guest }}
            {{/if}}
        {{ /each }}
    </ul>
    
</div>
</template>

<template name="guest">
    <li class="list-group-item btn-edit-guest">
        <img class="user-img-s" src="http://lorempixel.com/32/32/people/{{img}}">
        {{ guestName }}
    </li>
</template>