<template name="view_home">
    <div class="container">
        <h4>Events:
            <button class="btn btn-primary btn-add-event">
                <span class="glyphicon glyphicon-plus"></span>
                <a href="/new_event/">
                    New Event
                </a>
            </button>
        </h4>
        <ul class="list-group">
            {{ #each eventList }}
                {{> event }}
            {{ /each }}
            <li class="list-group-item event-item btn-add-event">
                <span class="glyphicon glyphicon-plus"></span>
                <a href="/new_event/">
                    New Event
                </a>
            </li>
        </ul>
    </div>
</template>

<template name="event">
    <li class="list-group-item event-item">
        <a href="/event/{{_id}}">{{ name }}</a>
    </li>
</template>