<template name="view_edit_guest">
<span class="hidden evId">{{subscribedTo}}</span>
<span class="hidden userImg">{{img}}</span>
<div class="container">
    <h4>
        {{#if guestName}} 
            {{guestName}}
        {{ else }}
            New User:
        {{/if}}
    </h4>
    <img class="user-img-l" src="http://lorempixel.com/128/128/people/{{img}}">
    <br>
    <div class="input-group">
        <span class="input-group-addon " id="guestName">
            <span class="glyphicon glyphicon-user"></span>
        </span>
        <input type="text" class="form-control" placeholder="Guest Name" value="{{guestName}}">
    </div>
    <br>
    <div class="btn-group" role="group">
        <button type="button" id="attending" class="btn btn-default {{#if attending}}active{{/if}} attending-status">Attending</button>
        <button type="button" id="maybe" class="btn btn-default {{#if maybe}}active{{/if}} attending-status">Maybe</button>
        <button type="button" id="willNot" class="btn btn-default {{#if willNot}}active{{/if}} attending-status">Will Not Attend</button>
    </div>
    <br><br>
    <div class="btn-group" role="group">
        {{#if guestName}} 
            <button class="btn btn-success btn-update-guest">
                <span class="glyphicon glyphicon-ok"></span>
                Save
            </button>
            <button class="btn btn-danger btn-remove-guest">
                <span class="glyphicon glyphicon-minus"></span>
                Remove
            </button>
        {{ else }}
            <button class="btn btn-success btn-add-guest">
                <span class="glyphicon glyphicon-plus"></span>
                Add
            </button>
            
        {{/if}}
        <button class="btn btn-default btn-cancel">
            <span class="glyphicon glyphicon-remove"></span>
            <a href="/event/{{subscribedTo}}">
                Cancel
            </a>
        </button>
    </div>
</div>
</template>